body {
    margin: 0; 
    padding: 0 !important;
    background-color: rgba(160, 155, 195, 0.5);
    align-content: center;
}

#banner {
    background-color: white;
    margin: 0;
    height: 300px;
    text-align: center;
}

#desc {
    background-color: white;
    margin: 40px;
    padding: 20px;
    height: 500px;
}